@import "tailwindcss";

:root {
  --sidebar-width: 280px;
  --orange: #e8581a;
  --orange-light: #f97316;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-bricolage);
  background: linear-gradient(180deg, #eeeeee 0%, #dadada 100%);
  min-height: 100vh;
}

/* Hide default calendar icon for all custom date inputs */
.no-native-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
