# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/
venv/

# Environment files
.env
.env.local

# Logs
*.log
npm-debug.log*

# Build outputs
dist/
build/

# pdfs generated
generated-pdfs/
